@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #0b0d17;
  font-family: "Saira Condensed", sans-serif;
  color: #fff;
}

.active:hover {
  text-decoration: underline;
}

hr {
  margin: 40px 0px;
}

.headings {
  margin-top: 80px;
  font-weight: 300;
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.header {
  font-size: 120px;
  font-weight: 300;
  letter-spacing: 7px;
}

.homepage {
  background-image: url("../public/home/background-home-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.bg-blur {
  background-color: #6565656c;
  padding-right: 100px;
}

li {
  list-style: none;
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  padding: 25px;
  position: relative;
}

// homepage
.intro {
  margin-top: 220px;
  font-family: "Bellefair", serif;

  h4 {
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 300;
  }

  h1 {
    font-size: 144px;
    letter-spacing: 7px;
    font-weight: 500;
  }

  p {
    font-size: 18px;
  }

  h5 {
    background-color: #fff;
    padding: 140px 80px;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    text-align: center;
    font-size: 35px;
    float: right;
    border: 2px solid #fff;

    &:hover {
      //   background-color: #d0d6f9;
      color: rgb(0, 0, 0);
    }
  }
}

.destination {
  background-image: url("../public/destination/background-destination-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;

  .desctination-img {
    padding-top: 50px;
  }

  .destination-wrapper {
    margin-top: 20px;
    padding: 0px 20px;
  }

  .desctination-content {
    padding: 45px;
  }

  .desctination-content-footer {
    text-transform: uppercase;
  }
}

@import "_responsive";
